= render "shared/header"

= form_with url: "/shops/#{@shop.id}", local: true, method: :patch do |f|
  .shop-create
    .shop-create--wrapper
      .shop-create--wrapper--fix
        .shop-create--wrapper__fix--title
          店舗情報の編集
        .shop-create--wrapper__fix--contents
          .shop-create--wrapper__fix--contents__left
            .shop-create-form
              %label{class: 'label-up'} 名前
              %span{class: 'form-must'} 必須
              %br
              = f.text_field :name, autofocus: true, placeholder: "店舗名", class: "form-box", value: "#{@shop.name}"
            .shop-create-form
              %label{class: 'label-up'} 所在地
              %span{class: 'form-must'} 必須
              %br
              = f.text_field :location, placeholder: "〇〇県〇〇市〇〇111-11〇〇ビル〇階", class: "form-box", value: "#{@shop.location}"
            .shop-create-form
              %label{class: 'label-up'} 開店時刻
              %span{class: 'form-want'} 任意
              %br
              = f.time_select :open_tome
            .shop-create-form
              %label{class: 'label-up'} 閉店時刻
              %span{class: 'form-want'} 任意
              %br
              = f.time_select :close_time, value: "#{@shop.close_time}"
            .shop-create-form
              %label{class: 'label-up'} URL
              %span{class: 'form-want'} 任意
              %br
              = f.text_field :url, placeholder: "http://………………………", class: "form-box"
            .shop-create-form
              %label{class: 'label-up'} 電話番号
              %span{class: 'form-want'} 任意
              %br
              = f.text_field :tel, placeholder: "080-1234-5678", class: "form-box"
          .shop-create--wrapper__fix--contents__right
            .shop-create-form
              %label{class: 'label-up'} 店舗画像等
              %span{class: 'form-want'} 任意
              %br
              = f.file_field :image
              -# , class: "form-box"
            .shop-create-form
              %label{class: 'label-up'} 所在地
              %span{class: 'form-want'} 任意
              %br
              = f.text_area :introduction, placeholder: "閲覧ありがとうございます。宜しくお願いします。", class: "shop-r-intro"
        .button-register-shop
          = f.submit "登録する", class: "submit-button-shop"

= render "shared/footer"