= render "shared/header"

.shop-index
  .shop-index__wrapper
    .shop-index__wrapper__fix
      .shop-index__wrapper__fix--left
        .shop-index__wrapper__fix--left--title
          .category-title
            ジャンルで探す
        .left-contents
          .left-contents__fix
            .left-contents__fix__box
              - @category.each do |category|
                = link_to category_path(category.id) do
                  .left-contents__fix__box--inner
                    = category.name
                    .fas.fa-angle-right
      .shop-index__wrapper__fix--right
        .shop-index__wrapper__fix--right--title
          .title-p-index
            店舗一覧
        .shop-index__wrapper__fix--right--contents
          .contents-p-index
            - @shop.each do |shop|
              .contents-p-index__box
                = link_to shop_path(shop.id) do
                  .contents-p-index__box__in
                    .image
                      - shop.shop_images.first(1).each do |image|
                        = image_tag "#{image.image}", class: "index-img"
                    .text-box
                      .text-box__name
                        .name
                          = shop.name
                      .text-box__location
                        .fas.fa-map-marker-alt
                        .location
                          = shop.location
                      .text-box__category
                        .fas.fa-tag
                        .category
                          - if shop.category.present?
                            = shop.category.name
                          - else
                            カテゴリが登録されていません
                      .text-box__intro
                        .intro
                          = truncate(shop.introduction, length:62)
          = link_to_prev_page @shop, '前のページ', class: "prev"
          = link_to_next_page @shop, '次のページ', class: "next"

= render "shared/footer"