= render "shared/header"

.shop-index
  .shop-index__wrapper
    .shop-index__wrapper__fix
      .shop-index__wrapper__fix--left
        .shop-index__wrapper__fix--left--title
          .category-title
            カテゴリー
        .left-contents
          .left-contents__fix
            .left-contents__fix__box
              - @category.each do |category|
                .left-contents__fix__box--inner
                  = category.name
                  .fas.fa-angle-right
      .shop-index__wrapper__fix--right
        .shop-index__wrapper__fix--right--title
          .title-p-index
            ショップ一覧
        .shop-index__wrapper__fix--right--contents
          .contents-p-index
            - @shop.each do |shop|
              .contents-p-index__box
                = link_to shop_path(shop.id) do
                  .contents-p-index__box__in
                    .image
                      - shop.shop_images.first(1).each do |image|
                        = image_tag "#{image.image}", class: "index-img"
                    .text-box
                      .text-box__name
                        .fas.fa-store
                        .name
                          = shop.name
                      .text-box__category
                        .fas.fa-tag
                        .category
                          - if shop.category.present?
                            = shop.category.name
                          - else
                            カテゴリが登録されていません
                      .intro
                        = shop.introduction

= render "shared/footer"