= render "shared/header"

= form_with url: '/shops', local: true, method: :post do |f|
  .shop-create
    .shop-create--wrapper
      .shop-create--wrapper--fix
        .shop-create--wrapper__fix--title
          店舗登録
        .shop-create--wrapper__fix--contents
          .shop-create--wrapper__fix--contents__left
            .shop-create-form
              %label{class: 'label-up'} 名前
              %span{class: 'form-must'} 必須
              %br
              = f.text_field :name, autofocus: true, placeholder: "店舗名", class: "form-box"
            .shop-create-form
              %label{class: 'label-up'} 所在地
              %span{class: 'form-must'} 必須
              %br
              = f.text_field :location, placeholder: "〇〇県〇〇市〇〇111-11〇〇ビル〇階", class: "form-box"
            .shop-create-form
              %label{class: 'label-up'} 開店時刻
              %span{class: 'form-want'} 任意
              %br
              = f.time_select :open_tome
              -# , class: "form-box"
            .shop-create-form
              %label{class: 'label-up'} 閉店時刻
              %span{class: 'form-want'} 任意
              %br
              = f.time_select :close_time
              -# ,class: "form-box"
            .shop-create-form
              %label{class: 'label-up'} URL
              %span{class: 'form-want'} 任意
              %br
              = f.text_field :url, placeholder: "http://………………………", class: "form-box"
            .shop-create-form
              %label{class: 'label-up'} 電話番号
              %span{class: 'form-want'} 任意
              %br
              = f.text_field :tel, placeholder: "080-1234-5678", class: "form-box"
          .shop-create--wrapper__fix--contents__right
            .shop-create-form
              %label{class: 'label-up'} 店舗画像等
              %span{class: 'form-want'} 任意
              %br
              = f.file_field :image
              -# , class: "form-box"
            .shop-create-form
              %label{class: 'label-up'} 所在地
              %span{class: 'form-want'} 任意
              %br
              = f.text_area :introduction, placeholder: "閲覧ありがとうございます。宜しくお願いします。", class: "shop-r-intro"
        .button-register-shop
          = f.submit "登録する", class: "submit-button-shop"

  -# .group-create
  -#   .group-create__wrapper
  -#     .group-create__wrapper__title
  -#       Group - Create
  -#     .group-create__wrapper__form
  -#       .group-create__wrapper__form--name
  -#         -# .group-create__wrapper__form--name--label
  -#         %label{class: 'label-group'} Group-name
  -#       .group-create__wrapper__form--name--input
  -#         = f.text_field :name, placeholder: 'グループ名を入力してください', class: 'newgroup-name'
  -#       .group-create__wrapper__form--member
  -#         = f.label :追加するメンバーを選んでください, class: '#'
  -#         %br
  -#         = f.collection_check_boxes :user_ids, User.all, :id, :nickname, include_hidden: false do |c|
  -#           = c.check_box
  -#           = c.label{c.text}
  -#       .group-create__wrapper__form--submit
  -#         = f.submit 'グループを作成する'

= render "shared/footer"