= render "shared/header"

-# タイトル表示部
.shop-show-all
  .shop-show-main
    %section.shop-show
      .shop-show--wrapper
        .shop-show--wrapper__fix
          .shop-show--wrapper__fix--name
            .shop-show--wrapper__fix--name--top
              = @shop.name
            - if user_signed_in? && @shop.user_id == current_user.id
              .shop-show--wrapper__fix--name--button
                = link_to edit_shop_path(@shop.id) do
                  .link_shop-edit
                    編集する
                = link_to shop_path(@shop.id),method: :delete, data: { confirm: '本当に削除してよろしいですか？' } do
                  .link_shop-delete
                    削除する

          -# 画像表示部
          .shop-show--wrapper__fix--contents
            .shop-show--wrapper__fix--contents__left
              .left-contents
                .left-contents--image
                  .left-contents--image--main
                    - @shop.shop_images.each do |image|
                      .left-contents--image--main--box
                        - if image.present?
                          = image_tag "#{image.image}", class: 'shop-show-img'
                        - else
                          = image_tag("noImage.png", class: 'shop-show-img')
                  .left-contents--image--small
                    - @shop.shop_images.each do |image|
                      .left-contents--image--small--box
                        = image_tag "#{image.image}", class: 'shop-show-img-sml'

            -# 基本情報表示部
            .shop-show--wrapper__fix--contents__right
              .right
                .right-copy
                  .right-copy-contents
                    基本情報
                .right-contents
                  .right-contents--category
                    .fas.fa-tag
                      = @shop.category.name
                  .right-contents--location
                    住所：
                    = @shop.location
                  .right-contents--time
                    営業時間：
                    %br
                    ランチ
                    = @shop.open_time.strftime("%H:%M")
                    〜
                    = @shop.close_time.strftime("%H:%M")
                    L.O.
                    = @shop.lunch_last.strftime("%H:%M")
                    %br
                    ディナー
                    = @shop.dinner_open.strftime("%H:%M")
                    〜
                    = @shop.dinner_close.strftime("%H:%M")
                    L.O.
                    = @shop.dinner_last.strftime("%H:%M")
                  .right-contents--url
                    URL：http://aaaaaaaaaaaaaaaaaaaaa
                  .right-contents--tel
                    TEL：080-1234-5678

                = link_to "ツイート", "https://twitter.com/share", class: "twitter-share-button", data: {hashtags: "fannaru", lang: "ja", text: "#{@shop.name}"}
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                .right-create
                  - if user_signed_in? && @shop.user_id == current_user.id
                    .right-create__menu
                      = link_to new_shop_menu_path(@shop.id) do
                        .button-menu-create
                          メニューを作成する
                  - if user_signed_in? && @shop.user_id == current_user.id
                    .right-create__product
                      = link_to new_shop_product_path(@shop.id) do
                        .button-menu-create
                          プロダクトを作成する

          -# 店舗紹介文表示部
          .shop-show--wrapper__fix--introduction
            店舗紹介：
            %br
            = @shop.introduction

    -# メニュー表示部
    %section.shop-menu
      .shop-menu__wrapper
        .shop-menu__wrapper--copy
          .shop-menu__wrapper--copy__contents
            メニュー
          = link_to menu_shop_path(@shop) do
            .shop-menu__wrapper--copy__more
              もっと見る
        .shop-menu__wrapper__fix
          - @shop.menus.first(4).each do |menu|
            .menu-box
              .menu-box__in
                .menu-box__in--up
                  .menu-box__in--up__name
                    = menu.name
                  .menu-box__in--up__price
                    = menu.price
                    円(税抜)
                .menu-box__in--down
                  .menu-box__in--down__introduction
                    = menu.introduction

    -# プロダクト表示部
    %section.shop-products
      .shop-products__wrapper
        .shop-products__wrapper--copy
          .shop-products__wrapper--copy__contents
            プロダクト一覧
        .shop-products__wrapper__fix
          - @shop.products.first(5).each do |product| 
            .product__box
              = link_to product_path(product) do
                .product__box__in
                  .product__box__in--image
                    - if product.image.present?
                      = image_tag "#{product.image}", class: 'product_box_img'
                    - else
                      = image_tag 'noImage.png',class: 'product_box_img'
                  .product__box__in--name
                    = product.name
                  .product__box__in--price
                    = product.price
                    円
                  .product__box__in--intro
                    .product__box__in--intro__content
                      = product.introduction

  -# ブログ表示部
  .shop-show-sub
    .shop-show-sub__wrapper
      .shop-show-sub__wrapper__fix
        .shop-blog
          .shop-blog--title
            .shop-blog--title__content
              最新の投稿
            - if user_signed_in? && @shop.user_id == current_user.id
              .shop-blog--title__link
                = link_to new_shop_blog_path(@shop.id) do
                  投稿する
        - if @blog.present?
          = link_to blog_path(@blog) do
            .shop-blog--box
              .shop-blog--box--image
                .shop-blog--box--image__content
                  = image_tag "#{@blog.image}", class: "blog-img-shop-show"
              .shop-blog--box--title
                .shop-blog--box--title__content
                  = @blog.title
              .shop-blog--box--text
                .shop-blog--box--text__content
                  = @blog.content
            .shop-blog--more
              = link_to blog_shop_path(@shop) do
                .link-blog-index
                  もっと見る→
        - else
          まだ投稿がありません

= render "shared/footer"