= render "shared/header"

%section.shop-show
  .shop-show--wrapper
    .shop-show--wrapper__fix
      .shop-show--wrapper__fix--name
        .shop-show--wrapper__fix--name--top
          = @shop.name
        = link_to edit_shop_path(@shop.id) do
          .link_shop-edit
            編集する
        = link_to "削除する", shop_path(@shop.id),method: :delete
      .shop-show--wrapper__fix--contents
        .shop-show--wrapper__fix--contents__left
          .left-contents
            .left-contents--image
              .left-contents--image--main
                - @shop.shop_images.each_with_index do |image, i|
                  .left-contents--image--main--box{data: {id: i}}
                    - if image.present?
                      = image_tag "#{image.image}", class: 'shop-show-img'
                    - else
                      = image_tag("noImage.png", class: 'shop-show-img')
              .left-contents--image--small
                - @shop.shop_images.each do |image|
                  .left-contents--image--small--box
                    = image_tag "#{image.image}", class: 'shop-show-img-sml'
                
        .shop-show--wrapper__fix--contents__right
          .right-contents
            .right-contents--category
              カテゴリ：
              -# = @shop.category.name
            %br
            .right-contents--intro
              = @shop.introduction
            %br
            .right-contents--location
              = @shop.location
            %br
            .right-contents--time
              営業時間:17:00〜24：00
            %br
            .right-contents--url
              URL：http://aaaaaaaaaaaaaaaaaaaaa
            %br
            .right-contents--tel
              TEL：080-1234-5678

      .shop-show--wrapper__fix--submit
        = link_to new_shop_product_path(@shop.id) do
          .submit-button.show-submit
            プロダクトを作成する


%section.shop-products
  .shop-products__wrapper
    .shop-products__wrapper__fix
      - @shop.products.each do |product| 
        .product__box
          = link_to shop_product_path(@shop, product) do
            .product__box__in
              .product__box__in--image
                = image_tag 'mina.png', class: 'product_box_img'
              .product__box__in--intro
                = product.introduction
              .product__box__in--name
                = product.name
              .product__box__in--price
                = product.price
                円

= render "shared/footer"