= render "shared/header"

%section.shop-show
  .shop-show--wrapper
    .shop-show--wrapper__fix
      .shop-show--wrapper__fix--name
        = @shop.name
      .shop-show--wrapper__fix--contents
        .shop-show--wrapper__fix--contents__left
          .left-contents
            .left-contents--image
              = image_tag 'mina.png',class: 'shop-show-img'
            .left-contents--small
              .left-contents--small__img
                = image_tag 'mina.png', class: 'shop-show-img-sml'
                .left-contents--small__img
                = image_tag 'mina.png', class: 'shop-show-img-sml'
                .left-contents--small__img
                = image_tag 'mina.png', class: 'shop-show-img-sml'
                .left-contents--small__img
                = image_tag 'mina.png', class: 'shop-show-img-sml'
                .left-contents--small__img
                = image_tag 'mina.png', class: 'shop-show-img-sml__last'
                
        .shop-show--wrapper__fix--contents__right
          .right-contents
            .right-contents--category
              カテゴリ：焼き鳥
            %br
            .right-contents--intro
              = @shop.introduction
            %br
            .right-contents--location
              = @shop.location
            %br
            .right-contents--time
              営業時間:17:00〜24：00
            %br
            .right-contents--url
              URL：http://aaaaaaaaaaaaaaaaaaaaa
            %br
            .right-contents--tel
              TEL：080-1234-5678

      .shop-show--wrapper__fix--submit
        = link_to new_shop_product_path(@shop.id) do
          .submit-button.show-submit
            プロダクトを作成する


%section.shop-products
  .shop-products__wrapper
    .shop-products__wrapper__fix
      - @shop.products.each do |product|
        .product__box
          .product__box--image
            = image_tag 'mina.png', class: 'product_box_img'
          .product__box--intro
            = product.introduction
          .product__box--name
            = product.name
          .product__box--price
            = product.price
            円

= render "shared/footer"