= render "shared/header"

%section.swipe-img

%section.catchcopy
  .catchcopy__fix
    .catchcopy__fix__text1
      大好きなお店に元気な経営を!!
    .catchcopy__fix__text2
      大好きな顧客に最高のサービスを!!

%section.intro
  .intro__fix
    .intro__fix__title
      .title-content
        ファンなるとは？
      .title-texts
        飲食店特化のクラウドファンディングサイトです。
    .intro__fix__contents
      .contents__how-to
        .contents__how-to--title
          顧客視点
        .contents__how-to--box
          .contents__how-to--box__inner
            .contents__how-to--box__inner--img
              = image_tag "user1.jpeg", class: "top-contents-img"
            .contents__how-to--box__inner--text
              .contents-box-text
                応援したい店舗,
                %br.br-sp
                店舗が掲載しているプロダクトを探してみましょう
                %br
                


          .contents__how-to--box__inner
            .contents__how-to--box__inner--img
              = image_tag "user2.jpeg", class: "top-contents-img"
            .contents__how-to--box__inner--text
              .contents-box-text
                気に入ったプロダクトがあれば購入。
                %br.br-sp
                内容は様々です。

          .contents__how-to--box__inner
            .contents__how-to--box__inner--img
              = image_tag "user3.jpeg", class: "top-contents-img"
            .contents__how-to--box__inner--text
              .contents-box-text
                購入で得たクーポンや特典を自由に使ってみましょう。


      .contents__how-to
        .contents__how-to--title
          店舗視点
        .contents__how-to--box
          .contents__how-to--box__inner
            .contents__how-to--box__inner--img
              = image_tag "user1.jpeg", class: "top-contents-img"
            .contents__how-to--box__inner--text
              .contents-box-text
                ご自身の店舗情報とプロダクトを作成。ブログやメニューも作成できます。

          .contents__how-to--box__inner
            .contents__how-to--box__inner--img
              = image_tag "user2.jpeg", class: "top-contents-img"
            .contents__how-to--box__inner--text
              .contents-box-text
                ブログ投稿やSNSへの共有でお店のことをもっと知ってもらいましょう。

          .contents__how-to--box__inner
            .contents__how-to--box__inner--img
              = image_tag "user3.jpeg", class: "top-contents-img"
            .contents__how-to--box__inner--text
              .contents-box-text
                応援で得た資金でより良い環境・サービスの提供に取り組めます。

%section.trying
  .trying--box
    .trying--box--fix
      = link_to new_user_registration_path do
        .user-button
          無料利用登録
      = link_to shops_path do
        .user-button
          掲載店舗の確認


= render "shared/footer"