= render "shared/header"

%section.swipe-img

%section.catchcopy
  .catchcopy__fix
    .catchcopy__fix__text1
      大好きなお店に元気な経営を!!
    .catchcopy__fix__text2
      大好きな顧客に最高のサービスを!!

%section.intro
  .intro__fix
    .intro__fix__title
      .title-content
        ファンなるとは？
      .title-texts
        飲食店特化のクラウドファンディング / クーポンサイトです。
    .intro__fix__contents
      .contents__user
        .contents__user--title
          顧客視点
        .contents__user--box
          .contents__user--box__inner
            .contents__user--box__inner--img
              = image_tag "user1.jpeg", class: "top-contents-img"
            .contents__user--box__inner--text
              .contents-box-test
                ああああああああああああああああああああああああああああ

          .contents__user--box__inner
            .contents__user--box__inner--img
              = image_tag "user2.jpeg", class: "top-contents-img"
            .contents__user--box__inner--text
              .contents-box-test
                ああああああああああああああああああああああああああああ

          .contents__user--box__inner
            .contents__user--box__inner--img
              = image_tag "user3.jpeg", class: "top-contents-img"
            .contents__user--box__inner--text
              .contents-box-test
                ああああああああああああああああああああああああああああ


      .contents__owner
        .contents__owner--title
          店舗視点
        .contents__owner--box
          .contents__owner--box__inner
            .contents__owner--box__inner--img
            .contents__owner--box__inner--text
              食事提供以外の経営資金の確保や新たな価値の創造にお役立てください。
              店舗やスタッフについてより知ってもらうことで、新規顧客とリピーターの獲得に繋がるかも！？
              また、特典の内容は店舗の自由です。ご自身のお店の新たな広告の場としてご活用ください。

%section.trying
  .trying--box
    .trying--box--fix
      = link_to new_user_registration_path do
        .user-button
          登録して使ってみる

= render "shared/footer"