%header.header
  %nav.header--nav
    .header--nav__fix
      .header--nav__fix--logo
        = link_to root_path do
          -# = link_to '食らうどファンディング', root_path
          = image_tag "applogo.JPG", class:"logo-image"
      = form_with url: search_shops_path do |f|
        .search-field
          .fas.fa-search
          .shop_search
            = f.text_field :text, placeholder: "店舗を検索", id: "shop_search"
          #shop_search--result
            .shop-search-list

      #header-menu.header--nav__fix--menu
        MENU
      #menu-lists
        - if customer_signed_in?
          %ul.header-menu
            = link_to customer_path(current_customer) do
              %li.header-menu__list
                .fas.fa-address-card
                  マイページ
            = link_to edit_customer_registration_path(current_customer) do
              %li.header-menu__list
                .fas.fa-user-edit
                  プロフィール編集
            = link_to new_shop_path do
              %li.header-menu__list
                .fas.fa-store
                  店舗作成画面
            = link_to destroy_customer_session_path, method: :delete, data: { confirm: 'ログアウトしてよろしいですか？' }  do
              %li.header-menu__list--last
                .fas.fa-sign-out-alt
                  ログアウト
        - else
          %li
            = link_to "Sign-up", new_customer_registration_path
          %li
            = link_to "Sign-in", customer_session_path

