%header.header
  %nav.header--nav
    .header--nav__fix
      .header--nav__fix--logo
        = link_to root_path do
          = image_tag "applogo.JPG", class:"logo-image"
      = form_with url: search_shops_path do |f|
        .search-field
          .fas.fa-search
          .shop_search
            = f.text_field :text, placeholder: "店舗・住所で検索", id: "shop_search"
          #shop_search--result
            .shop-search-list
      -# = link_to new_guest_path do
      -#   .header--nav__fix--intro
      -#     Food Fundingとは？
      #header-menu.header--nav__fix--menu
        .fas.fa-user-cog
      #menu-lists
        - if user_signed_in?
          %ul.header-menu
            = link_to user_path(current_user) do
              %li.header-menu__list
                .fas.fa-address-card
                  マイページ
            = link_to edit_user_registration_path(current_user) do
              %li.header-menu__list
                .fas.fa-user-edit
                  プロフィール編集
            = link_to new_shop_path do
              %li.header-menu__list
                .fas.fa-store
                  店舗作成画面
            - if current_user.admin?
              = link_to new_category_path do
                %li.header-menu__list
                  .fas.fa-tag
                    カテゴリを作成
            = link_to destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしてよろしいですか？' }  do
              %li.header-menu__list--last
                .fas.fa-sign-out-alt
                  ログアウト
        - else
          %ul.header-menu
            = link_to new_user_registration_path do
              %li.header-menu__list
                .fas.fa-user-plus
                ユーザー新規作成
            = link_to user_session_path do
              %li.header-menu__list
                .fas.fa-sign-in-alt
                ログイン

