= render "shared/header"

.customer-show
  .customer-show__wrapper
    .customer-show__wrapper__fix
      .customer-show__wrapper__fix--title
        .customer-show--title
          プロフィール
        .customer-show--menu
          = link_to edit_customer_registration_path do
            .customer-show--menu--edit
              編集する
          = link_to customers_path, method: :delete do
            .customer-show--menu--destroy
              ユーザーを削除する

      .customer-show__wrapper__fix--contents
        .customer-img
          = image_tag "mina.png", class: "customer-img-show"
        .customer-texts
          .customer-texts--name
            = @customer.name
          .customer-texts--intro
            = @customer.introduction

%section.customers-shop
  .customers-shop__wrapper
    .customers-shop__wrapper__fix
      - @customer.shops.each do |product|
        .product__box
          .product__box--image
            = image_tag 'mina.png', class: 'product_box_img'
          .product__box--intro
            = product.introduction
          .product__box--name
            = product.name

= render "shared/footer"

