= render "shared/header"

.cards-new
  .cards-new__wrapper
    .cards-new__wrapper__fix
      .cards-new__wrapper__fix__title
        .cards-new__wrapper__fix__title--content
          カード情報登録
    .cards-new__wrapper__fix__form
      = form_with url: cards_path ,id: :card_register, local: true, method: :post do |f|

        .cards-new__wrapper__fix__form--number
          = f.label :カード番号
          %span{class: "form-must"}必須
          %br
          = f.text_field :card_number, type: 'text', class: "input-card-number", placeholder: "半角数字のみ", maxlength: "16"
        .cards-new___wrapper__fix__form--logo

        .cards-new__wrapper__fix__form--limit
          = f.label :有効期限
          %span{class: "form-must"}必須

          .cards-new__wrapper__fix__form--limit--month
            = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , type:"text", class:"select-card-month"
            %span 月

          .cards-new__wrapper__fix__form--limit--year
            = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} ,type:"text", class:"select-card-year"
            %span 年
          
        .cards-new__wrapper__fix__form--cvc
          .card-new__wrapper__fix__form--cvc__content
            = f.label :セキュリティコード
            %span{class: "form-must"}必須
            %br
            = f.text_field :cvc, class:"input-card-cvc", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4"
          
        .button-submit#card_token
          = f.submit "登録する", class:"card-submit" 

= render "shared/footer"
