= render "shared/header"

= form_with model:@category, local: true , method: :post do |f|
  .blog-new
    .blog-new--wrapper
      .blog-new--wrapper--fix
        .blog-new--wrapper__fix--title
          ジャンル新規登録
        .blog-new--wrapper__fix--contents
          .blog-new-form
            = f.label :name, 'ジャンル名', class: 'label-up'
            %span{class: 'form-must'} 必須
            %br
            = f.text_field :name, placeholder: "タイトルを入力してください", class: "form-box"
          .button-register
            = f.submit "登録する", class: "submit-button"

= render "shared/footer"