= render "shared/header"

.transaction-new
  .transaction-new__wrapper
    .transaction-new__wrapper__fix
      .transaction-new__wrapper__fix--copy
        .copy-content
          購入確認画面
      .transaction-new__wrapper__fix--title
        .transaction-title
          = @product.name
      .transaction-new__wrapper__fix--contents
        .transaction-contents
          .transaction-contents--image
            - if @product.image.present?
              = image_tag "#{@product.image}", class: 'product-show-img'
            - else
              = image_tag 'noImage.png',class: 'product-show-img'
          .transaction-contents--price
            支援金額：
            = @product.price
            円
          .transaction-contents--introduction
            = simple_format(@product.introduction)
      .transaction-new__wrapper__fix--submit
        .submit-pay
        = form_tag action: :create, method: :post do
          %input{name: "period",type: "hidden", value: "#{Date.today}"}/
          :plain
            <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_6d89c8792c4bb812515e783f"></script>

= render "shared/footer"
