= render "shared/header"

= @product.name
= @product.price
円

購入日から
= @product.limit
= @product.introduction

= form_tag action: :create, method: :post do
  :plain
    <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_6d89c8792c4bb812515e783f"></script>

= render "shared/footer"
