= render "shared/header"

.transaction-show
  .transaction-show__wrapper
    .transaction-show__wrapper__fix
      .transaction-show__wrapper__fix--title
        .transaction-title
          = @transaction.name
        .transaction-period
          .transaction-period__content
          有効期限：
          = @transaction.period
      .transaction-show__wrapper__fix--contents
        .transaction-contents
          .transaction-contents--image
            - if @transaction.image.present?
              = image_tag "#{@transaction.image}", class: 'product-show-img'
            - else
              = image_tag 'noImage.png',class: 'product-show-img'
          .transaction-contents--price
            = @transaction.price
            円で支援中
          .transaction-contents--introduction
            = @transaction.introduction

= render "shared/footer"
