= render "shared/header"

.product-edit
  = form_with model: @product, local: true, method: :patch do |f|
    .product-edit__wrapper
      .product-edit__wrapper__fix
        .product-edit__wrapper__fix--title
          .product-edit__title
            プロダクト作成
        .product-edit__wrapper__fix--contents
          .product-edit__contents--left
            .product-edit__contents--left__forms
              .product-edit--form
                = f.label :name, '名前', class: 'label-product'
                %span{class: 'form-must'} 必須
                %br
                = f.text_field :name, placeholder: "#{@product.name}", class: 'form-box'
              .product-edit--price
                = f.label :price, '価格', class: 'label-product'
                %span{class: 'form-must'} 必須
                %br
                = f.text_field :price, placeholder: '例）1000', class: 'form-box'
              .product-edit--limit
                = f.label :limit, '期限', class: 'label-product'
                %span{class: 'form-want'} 任意
                %br
                = f.date_select :limit
          .product-edit__contents--right
            .product-edit__contents--right--area
              %label{class: 'label-product'} 商品説明
              %span{class: 'form-must'} 必須
              %br
              = f.text_area :introduction, placeholder: '商品の詳細を入力してください。', class: 'form-area'
        .product-edit--submit


= render "shared/footer"