= render "shared/header"

.product-index
  .product-index__wrapper
    .product-index__wrapper__fix
      .product-index__wrapper__fix--title
        .title-p-index
          最新のプロダクト
      .product-index__wrapper__fix--contents
        .contents-p-index
          - @products.each do |product|
            .contents-p-index__box
              .contents-p-index__box__in
                .image
                  = image_tag "mina.png", class: "index-img"
                .text-box
                  .name
                    = product.name
                  .shop-name
                    = product.shop.name
                  .category
                    焼き鳥
                  .intro
                    = product.introduction

= render "shared/footer"