= render "shared/header"

.product-new
  = form_with(model: [@shop, @product], local: true, method: :post)  do |f|
    .product-new__wrapper
      .product-new__wrapper__fix
        .product-new__wrapper__fix--title
          .product-new__title
            プロダクト作成
        .product-new__wrapper__fix--contents
          .product-new__contents--left
            .product-new__contents--left__forms
              .product-new--form
                %label{class: 'label-product'} 名前
                %span{class: 'form-must'} 必須
                %br
                = f.text_field :name, placeholder: 'プロダクト名', class: 'form-box'
              .product-new--price
                %label{class: 'label-product'} 価格
                %span{class: 'form-must'} 必須
                %br
                = f.text_field :price, placeholder: '例）1000', class: 'form-box'
              .product-new--limit
                %label{class: 'label-product'} 期限
                %span{class: 'form-must'} 必須
                %br
                = f.select :limit, Product.limits.keys,{}, class: "select"
              .product-new-number
                %label{class: 'label-product'} 個数
                %span{class: 'form-must'} 必須
                %br
                = f.number_field :number, class: "number-field"
                個
          .product-new__contents--right
            .product-new__contents--right--area
              %label{class: 'label-product'} 商品説明
              %span{class: 'form-must'} 必須
              %br
              = f.text_area :introduction, placeholder: '商品の詳細を入力してください。', class: 'form-area'
        .product-new--submit
          = f.submit "登録する", class: "submit-button-shop"


= render "shared/footer"
