= render "shared/header"

%section.product-show
  .product-show--wrapper
    .product-show--wrapper__fix
      .product-show--wrapper__fix--name
        = @product.name
      .product-show--wrapper__fix--contents
        .product-show--wrapper__fix--contents__left
          .left-contents
            .left-contents--image
              = image_tag 'mina.png',class: 'product-show-img'
                
        .product-show--wrapper__fix--contents__right
          .right-contents
            .right-contents--intro
              紹介：
              %br
              = simple_format(@product.introduction)
            %br
            .right-contents--price
              価格：
              = @product.price
              円
            %br
            .right-contents--limit
              有効期限：
              = @product.limit
            %br
            
      .product-show--wrapper__fix--submit
        = link_to new_product_transaction_path(@product) do
          .product-show--wrapper__fix--submit__button
            この特典をゲットしてお店を応援する

= render "shared/footer"