= render "shared/header"

%section.product-show
  .product-show--wrapper
    .product-show--wrapper__fix
      .product-show--wrapper__fix--name
        = @product.name
      .product-show--wrapper__fix--contents
        .product-show--wrapper__fix--contents__left
          .left-contents
            .left-contents--image
              = image_tag 'mina.png',class: 'product-show-img'
            .left-contents--small
              .left-contents--small__img
                = image_tag 'mina.png', class: 'product-show-img-sml'
                .left-contents--small__img
                = image_tag 'mina.png', class: 'product-show-img-sml'
                .left-contents--small__img
                = image_tag 'mina.png', class: 'product-show-img-sml'
                .left-contents--small__img
                = image_tag 'mina.png', class: 'product-show-img-sml'
                .left-contents--small__img
                = image_tag 'mina.png', class: 'product-show-img-sml__last'
                
        .product-show--wrapper__fix--contents__right
          .right-contents
            .right-contents--category
              カテゴリ：
            %br
            .right-contents--intro
              = @product.introduction
            %br
            .right-contents--price
              = @product.price
            %br
            .right-contents--limit
              5月15日
            %br
      .product-show--wrapper__fix--submit
        -# = f.submit
        = link_to new_product_transaction_path(@product) do
          .product-show--wrapper__fix--submit__button
            この特典をゲットしてお店を応援する

= render "shared/footer"