= render "shared/header"

%section.product-show
  .product-show--wrapper
    .product-show--wrapper__fix
      .product-show--wrapper__fix--upper
        .product-show--wrapper__fix--upper__name
          = @product.name
        .product-show--wrapper__fix--upper__twitter
          = link_to "ツイート", "https://twitter.com/share", class: "twitter-share-button", data: {hashtags: "fannaru", lang: "ja", text: "#{@shop.name}"}
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      .product-show--wrapper__fix--contents
        .product-show--wrapper__fix--contents__left
          .left-contents
            .left-contents--image
              - if @product.image.present?
                = image_tag "#{@product.image}", class: 'product-show-img'
              - else
                = image_tag 'noImage.png',class: 'product-show-img'

        .product-show--wrapper__fix--contents__right
          .right-title
            .right-title__content
              詳細情報
          .right-contents
            .right-contents--number
              残数：
              = @product.number
            .right-contents--intro
              説明：
              = simple_format(@product.introduction)
            .right-contents--price
              価格：
              = @product.price
              円
            .right-contents--limit
              有効期限：購入より
              = @product.limit
            
      .product-show--wrapper__fix--submit
        = link_to new_product_transaction_path(@product) do
          .product-show--wrapper__fix--submit__button
            この特典をゲットしてお店を応援する

= render "shared/footer"